*{
    margin: 0%;
    padding: 0%;
}

p{
    margin-top: 70px;
    margin-left: 50px;
}


 #imagem{
    position: absolute;
    left: 7opx; ;
    top: 60px; ;
    width: 500px;
    height: 300px;
    }

p{
    color: blueviolet;
    font-size: 200px;
}

#paragrafo{
    color: aquamarine;
    font-size: 200px;
}

